<!-- -->
<launch>
   # ROS_NAMESPACE=mono rosrun image_proc image_proc   bayer to bgr8
   <node pkg="ORB_SLAM2" type="Mono" name="Mono_monitor"  output="screen"  args="/home/yuli/Software/ORB_SLAM_box/Vocabulary/ORBvoc.txt /home/yuli/Software/ORB_SLAM_box/Examples/Monocular/RealSense.yaml"/> 
   <param name="base_data_folder" value="/home/yuli/Software/data_rgbd/17_monitor_front" />
   <param name="draw_map_truth_paths" value="true" />

</launch>
